*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100vw;
    height: 125vh;
    
    
}
header .head{
    width: 100vw;
    height: 12vh;
    z-index: 2;
   position: fixed;
    top: 0px;
    left: 0px;
    transition: .2s;
    display: flex;
   
}

header .head .logo{
    width: 30vw;
    height: 20vh;
   
}
header .head .logo #brief{
    font-size: 3rem;
    margin-left: 70px;
    padding-top: 15px;
    color: rgb(247, 6, 66);
    
}
header .head .menu{
    width: 60vw;
    height: 12vh;
  
    
}
header .head .menu ul{
    width: 45vw;
    display: flex;
    justify-content: space-around;
    margin-left: 290px;
    list-style: none;
    padding-top: 25px;
    
}
header .head .menu ul a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    padding-bottom: 5px;
    
    font-family: 'Noto Sans JP', sans-serif;
}
header .head .menu ul a:hover{
    
    border-bottom: 3px solid #03a9f4;
}
.active{
    
    background-color: rgb(128 117 117 / 90%);
}
header .content{
    width: 100vw;
    height: 75vh;
    position: relative;
    top: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header .content .main_content{
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    color: #03a9f4;
}
header .content .main_content #virus{
    font-size: 5rem;
    position: relative;
    top: 18px;
    padding-left: 5px;
    padding-right: 5px;
    color: green;
    animation: rotate 3s infinite linear;
}
@keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
header .content .main_content .first{
    position: relative;
    top: 15px;
}
header .content .main_content h3{
    padding-top: 20px;
}
header .update{
    width: 100vw;
    height: 35vh;
  
    position: relative;
    top: 90px;
    
}
header .update .first{
    text-align: center;
    font-style: italic;
    color: red;
}
header .update .cases{
    width: 100vw;
    height: 25vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
header .update .active{
    width: 20vw;
    height: 20vh;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(to right,#000428,#004e92);
    cursor: pointer;
    transition: 1s;
    margin-top: 30px;
}
header .update .recovered{
    width: 20vw;
    height: 20vh;
    color: #030361;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#84f706;
    cursor: pointer;
    transition: 1s;
    margin-top: 30px;
}
header .update .deaths{
    width: 20vw;
    height: 20vh;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#f40057;
    cursor: pointer;
    transition: 1s;
    margin-top: 30px;
}
header .update .total{
    width: 20vw;
    height: 20vh;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(to right,#42275a,#734b6d);
    cursor: pointer;
    transition: 1s;
    margin-top: 30px;
}

/*section*/
#sec{
width: 100vw;



}
#sec .head{
    width: 100vw;
    height: 10vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
}
#sec .head h1{
    font-family: 'Train One', cursive;
    padding-bottom: 5px;
    border-bottom: 3px solid #03a9f4;
}
#sec .content{
    width: 80vw;
    
    background-color: #d5ecbe;
    margin: auto;
    padding-left: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-top: 30px;
}
#sec .content .hos{
    width: 100%;
    
    display: flex;
    padding-top: 10px;
}
#sec .content .hos #hospital{
    color: #03a9f4;
    font-size: 2rem;
}
#sec .content .hos h1{
    padding-left: 10px;
    padding-top: 10px;
    color: chocolate;
}
#sec .content .loc{
    width: 100%;
    
    display: flex;
    padding-top: 10px;
}
#sec .content .loc #location{
    color: red;
    font-size: 2rem;
}
#sec .content .loc h1{
    padding-left: 10px;
    padding-top: 10px;
    color: chocolate;
}
#sec .content .call{
    width: 100%;
    
    display: flex;
   padding-top: 5px;
}
#sec .content .call #mobile{
    color: rgb(4, 7, 0);
    font-size: 2rem;
    padding-left: 2px;
}
#sec .content .call h1{
    padding-left: 12px;
    padding-top: 10px;
    color: chocolate;
}
#sec .content .maincontent{
    width: 100%;
    height: 25vh;
   margin-top: 10px;
   display: flex;
   padding-right: 20px;
  
   justify-content: space-between;
}
#sec .content .maincontent .male{
    width: 15vw;
    height: 25vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#sec .content .maincontent .male #m{
    color: red;
}
#sec .content .maincontent .male .totalbeds
{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    color: #03a9f4;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.9rem;
    background-color: #03ffc0;
}
#sec .content .maincontent .male .vacantbeds
{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    color: green;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.8rem;
}
#sec .content .second_content{
    width: 100%;
    height: 60vh;
   margin-top: 10px;
   
   display: flex;
   justify-content: center;
   align-items: center;

}
#sec .content .second_content .left{
    width: 40vw;
    height: 55vh;
    border: 1px solid black;
   margin-right: 15px;
}
#sec .content .second_content .left .head1{
    
    background-color: whitesmoke;
    width: 100%;
    height: 7vh;
    
}
#sec .content .second_content .left .head1 h1{
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

#sec .content .second_content .left .main_content1{
    display: flex;
    justify-content: space-evenly;
}
#sec .content .second_content .left .male{
    width: 7vw;
    height: 35vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    

}
#sec .content .second_content .left .male #m{
    color: red;
}
#sec .content .second_content .left .male .totalbeds{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    color: #03a9f4;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.7rem;
    background-color: #03ffc0;
}
#sec .content .second_content .left .male .vacantbeds{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    color: green;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.7rem;
}
#sec .content .second_content .left{
    width: 40vw;
    height: 55vh;
    border: 1px solid black;
    margin-right: 15px;
}
#sec .content .footer{
    width: 80vw;
    height: 19.5vh;
    background:linear-gradient(to right, rgb(0 255 215),#0043ff);
    position: relative;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Noto Sans JP', sans-serif;
}
#sec .content .footer p{
    font-size: 1.5rem;
}
#sec .content .footer #btn{
      
    
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      height: 8vh;
      width: 10vw;
      color: whitesmoke;
      font-size: 1.3rem;
      font-weight: bolder;
      outline: none;
      border: none;
      background-color: #3c0c44;
      margin-top: 10px;
      cursor: pointer;
}
#sec .content .footer #btn:hover{
    background-color: #09ddd2;
}
/*--------------------------------------------------------------------------------Ambulance----------------------------------------------------------------------------------*/
#ambulance{
    width: 100vw;
}
#ambulance .head{
    width: 100vw;
    height: 10vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
}
#ambulance .head h1{
    font-family: 'Train One', cursive;
    padding-bottom: 5px;
    border-bottom: 3px solid #03a9f4;
}
#ambulance .content{
    width: 80vw;
    height: 80vh;
    
    margin-left: 50px;
}
#ambulance .content .hos{
    width: 80vw;
    height: 5vh;
    display: flex;
}
#ambulance .content .hos #hospital{
    font-size: 2rem;
    color: darkred;
}
#ambulance .content .hos h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-top: 8px;
    padding-left: 5px;
}

#ambulance .content .loc{
    width: 80vw;
    height: 5vh;
    display: flex;
    margin-top: 9px;
}
#ambulance .content .loc #location{
    font-size: 2rem;
    color: red;
}
#ambulance .content .loc h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-top: 8px;
    padding-left: 5px;
}
#ambulance .content .main_content h1{
    border-bottom: 1px solid #03a9f4;
    
}
#ambulance .content .main_content .booking{
    width: 80vw;
    height: 5vh;
    display: flex;
}
#ambulance .content .booking #user{
    font-size: 2rem;
    color: rgb(0, 83, 139);
}
#ambulance .content .booking h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-top: 8px;
    padding-left: 5px;
}
#ambulance .content .booking p{
    font-size: 1.5rem;
}
