*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100vw;
    height: 125vh;
    
    
}
header .head{
    width: 100vw;
    height: 12vh;
    z-index: 2;
   position: fixed;
    top: 0px;
    left: 0px;
    transition: .2s;
    display: flex;
   
}

header .head .logo{
    width: 30vw;
    height: 20vh;
   
}
header .head .logo #brief{
    font-size: 3rem;
    margin-left: 70px;
    padding-top: 15px;
    color: rgb(247, 6, 66);
    
}
header .head .menu{
    width: 60vw;
    height: 12vh;
  
    
}
header .head .menu ul{
    width: 45vw;
    display: flex;
    justify-content: space-around;
    margin-left: 290px;
    list-style: none;
    padding-top: 25px;
    
}
header .head .menu ul a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    padding-bottom: 5px;
    
    font-family: 'Noto Sans JP', sans-serif;
}
header .head .menu ul a:hover{
    
    border-bottom: 3px solid #03a9f4;
}
.active{
    
    background-color: rgb(128 117 117 / 90%);
}
header .content{
    width: 100vw;
    height: 75vh;
    position: relative;
    top: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header .content .main_content{
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    color: #03a9f4;
}
header .content .main_content #virus{
    font-size: 5rem;
    position: relative;
    top: 18px;
    padding-left: 5px;
    padding-right: 5px;
    color: green;
    animation: rotate 3s infinite linear;
}
@keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
header .content .main_content .first{
    position: relative;
    top: 15px;
}
header .content .main_content h3{
    padding-top: 20px;
}
header .update{
    width: 100vw;
    height: 35vh;
  
    position: relative;
    top: 90px;
    
}
header .update .first{
    text-align: center;
    font-style: italic;
    color: red;
}
header .update .cases{
    width: 100vw;
    height: 25vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
header .update .active{
    width: 20vw;
    height: 20vh;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(to right,#000428,#004e92);
    cursor: pointer;
    transition: 1s;
    margin-top: 30px;
}
header .update .recovered{
    width: 20vw;
    height: 20vh;
    color: #030361;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#84f706;
    cursor: pointer;
    transition: 1s;
    margin-top: 30px;
}
header .update .deaths{
    width: 20vw;
    height: 20vh;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#f40057;
    cursor: pointer;
    transition: 1s;
    margin-top: 30px;
}
header .update .total{
    width: 20vw;
    height: 20vh;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(to right,#42275a,#734b6d);
    cursor: pointer;
    transition: 1s;
    margin-top: 30px;
}

/*--------------------------------------------------------------------------------------------------section--------------------------------------------------------------------*/
#sec{
width: 100vw;



}
#sec .head{
    width: 100vw;
    height: 10vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
}
#sec .head h1{
    font-family: 'Train One', cursive;
    padding-bottom: 5px;
    border-bottom: 3px solid #03a9f4;
}
#sec .content{
    width: 80vw;
    
    background-color: #d5ecbe;
    margin: auto;
    padding-left: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-top: 30px;
}
#sec .content .hos{
    width: 100%;
    
    display: flex;
    padding-top: 10px;
}
#sec .content .hos #hospital{
    color: #03a9f4;
    font-size: 2rem;
}
#sec .content .hos h1{
    padding-left: 10px;
    padding-top: 10px;
    color: chocolate;
}
#sec .content .loc{
    width: 100%;
    
    display: flex;
    padding-top: 10px;
}
#sec .content .loc #location{
    color: red;
    font-size: 2rem;
}
#sec .content .loc h1{
    padding-left: 10px;
    padding-top: 10px;
    color: chocolate;
}
#sec .content .call{
    width: 100%;
    
    display: flex;
   padding-top: 5px;
}
#sec .content .call #mobile{
    color: rgb(4, 7, 0);
    font-size: 2rem;
    padding-left: 2px;
}
#sec .content .call h1{
    padding-left: 12px;
    padding-top: 10px;
    color: chocolate;
}
#sec .content .maincontent{
    width: 100%;
    height: 25vh;
   margin-top: 10px;
   display: flex;
   padding-right: 20px;
  
   justify-content: space-between;
}
#sec .content .maincontent .male{
    width: 15vw;
    height: 25vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#sec .content .maincontent .male #m{
    color: red;
}
#sec .content .maincontent .male .totalbeds
{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    color: #03a9f4;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.9rem;
    background-color: #03ffc0;
}
#sec .content .maincontent .male .vacantbeds
{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    color: green;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.8rem;
}
#sec .content .maincontent .more_info{
    width: 8vw;
    height: 5vh;
    position: relative;
    top: 19vh;
    background-color: #03ffc0;
    color: #03a9f4;
    border: none;
    outline: none;
    cursor: pointer;
}
#sec .content .hidden{
   
    display:none;
    transition: 2s ease-in;
}
#sec .content .second_content{
    width: 100%;
    height: 60vh;
   margin-top: 10px;
   
   display: flex;
   justify-content: center;
   align-items: center;

}
#sec .content .second_content .left{
    width: 40vw;
    height: 55vh;
    border: 1px solid black;
   margin-right: 15px;
}
#sec .content .second_content .left .head1{
    
    background-color: whitesmoke;
    width: 100%;
    height: 7vh;
    
}
#sec .content .second_content .left .head1 h1{
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

#sec .content .second_content .left .main_content1{
    display: flex;
    justify-content: space-evenly;
}
#sec .content .second_content .left .male{
    width: 7vw;
    height: 35vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    

}
#sec .content .second_content .left .male #m{
    color: red;
}
#sec .content .second_content .left .male .totalbeds{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    color: #03a9f4;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.7rem;
    background-color: #03ffc0;
}
#sec .content .second_content .left .male .vacantbeds{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    color: green;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.7rem;
}
#sec .content .second_content .left{
    width: 40vw;
    height: 55vh;
    border: 1px solid black;
    margin-right: 15px;
}
#sec .content .footer{
    width: 80vw;
    height: 19.5vh;
    background:linear-gradient(to right, rgb(0 255 215),#0043ff);
    position: relative;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Noto Sans JP', sans-serif;
}
#sec .content .footer p{
    font-size: 1.5rem;
}
#sec .content .footer #btn{
      
    
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      height: 8vh;
      width: 10vw;
      color: whitesmoke;
      font-size: 1.3rem;
      font-weight: bolder;
      outline: none;
      border: none;
      background-color: #3c0c44;
      margin-top: 10px;
      cursor: pointer;
}
#sec .content .footer #btn:hover{
    background-color: #09ddd2;
}
/*----------------------------------------------------------------------------------------------------Ambulance--------------------------------------------------------------*/
#ambulance{
    width: 100vw;
}
#ambulance .head{
    width: 100vw;
    height: 10vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
}
#ambulance .head h1{
    font-family: 'Train One', cursive;
    padding-bottom: 5px;
    border-bottom: 3px solid #03a9f4;
}
#ambulance .content{
    width: 80vw;
    height: 60vh;
    box-shadow: 6px 6px 7px gray,-6px -6px 7px gray;
    margin:auto;
    margin-top: 40px;
    padding-top: 20px;
}
#ambulance .content .hos{
    width: 80vw;
    height: 5vh;
    display: flex;
   /* background:linear-gradient(to right, #8360c3,#2ebf91);*/
    
}
#ambulance .content .hos #hospital{
    font-size: 2rem;
    color: darkred;
    padding-left: 10px;
}
#ambulance .content .hos h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-top: 8px;
    padding-left: 5px;
    /*color: whitesmoke;*/
    color: #03a9f4;
}

#ambulance .content .loc{
    width: 80vw;
    height: 5vh;
    display: flex;
    margin-top: 9px;
   /* background:linear-gradient(to right, #654ea3,#eaafc8);*/
    
}
#ambulance .content .loc #location{
    font-size: 2rem;
    color: red;
    padding-left: 10px;
}
#ambulance .content .loc h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-top: 8px;
    padding-left: 5px;
    /*color: #8adce6;*/
    color: #03a9f4;
}
#ambulance .content .main_content{
    width: 100%;
    height: 45vh;
background-color: blanchedalmond;
}
#ambulance .content .main_content #book{
    border-bottom: 3px solid #03a9f4;
   display: inline;
   margin-left: 12px;
  padding-bottom: 5px;
   
    
}
#ambulance .content .main_content .booking{
    width: 80vw;
    height: 5vh;
    display: flex;
}
#ambulance .content .main_content .booking #user{
    font-size: 2rem;
    color: rgb(0, 83, 139);
    padding-top: 15px;
    padding-left: 10px;
}

#ambulance .content .main_content .booking p{
    font-size: 1.5rem;
    padding-top: 19px;
    padding-left: 5px;
}
#ambulance .content .main_content .call{
    width: 80vw;
    height: 5vh;
    display: flex;
}
#ambulance .content .main_content .call #mobile{
    font-size: 2rem;
    color: rgb(0, 83, 139);
    padding-top: 18px;
    padding-left: 10px;
}

#ambulance .content .main_content .call p{
    font-size: 1.5rem;
    padding-top: 21px;
    padding-left: 5px;
}
#ambulance .content .main_content #driver{
    border-bottom: 3px solid #03a9f4;
    display: inline;
    position: relative;
    top:20px;
    left: 10px;
}
#ambulance .content .main_content .booking1{
    width: 80vw;
    height: 5vh;
    display: flex;
    
}
#ambulance .content .main_content .booking1 #user{
    font-size: 1.7rem;
    color: rgb(0, 83, 139);
   position: relative;
   top: 35px;
   left: 5px;
}

#ambulance .content .main_content .booking1 p{
    font-size: 1.3rem;
    padding-top: 37px;
    padding-left: 5px;
}
#ambulance .content .main_content .call1{
    width: 80vw;
    height: 5vh;
    display: flex;
}
#ambulance .content .main_content .call1 #mobile{
    font-size: 1.7rem;
    color: rgb(0, 83, 139);
    padding-top: 36px;
    padding-left: 10px;
}

#ambulance .content .main_content .call1 p{
    font-size: 1.3rem;
    padding-top: 37px;
    padding-left: 5px;
}
#ambulance .content1{
    width: 80vw;
    height: 85vh;
    margin: auto;
   box-shadow: 2px 2px 3px gray,-2px -2px 3px gray;
    padding-left: 10px;
    margin-top: 20px;
}
#ambulance .content1 .no1{
    display: flex;
    font-size: 2rem;
    color: #03a9f4;
    padding-top: 10px;
    
}
#ambulance .content1 p{
    padding-left: 5px;
    font-size: 1.5rem;
}
#ambulance .content1 .no2{
    display: flex;
    font-size: 2rem;
    color: #03a9f4;
    padding-top: 5px;
    
}
/*--------------------------------------------------------------------------------------------cylinder------------------------------------------------------*/
#cylinder{
width: 100vw;

}
#cylinder .head{
    width: 100vw;
    height: 10vh;

   display: flex;
    align-items: center;
    justify-content: center;
}
#cylinder .head h1{
    font-family: 'Train One', cursive;
    padding-bottom: 5px;
    border-bottom: 3px solid #03a9f4;
}
#cylinder .content {
    width: 90vw;
    
    
    margin: auto;
}
#cylinder .content h1{
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    color: #03a9f4;
    
}
#cylinder .content .main_content{
    width: 80vw;
  
    
    
    color: #130258;
    font-size: 1.2rem;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: space-between;
}
#cylinder .content .main_content .image2{
    position: relative;
    bottom: 20px;
    width: 600px;
    height: 500px;
}
#cylinder .content .image3{
    width: 700px;
    height: 800px;
}
#cylinder .content .right{
    width: 100vw;
    height: 130vh;
    
    display: flex;
    
}
#cylinder .content .right .thank{
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cylinder .content .right .thank h1{
    font-size: 3rem;
    text-align: center;
}
/*--------------------------------------------------------------------------------------Foods--------------------------------------------------------------------------*/
    #food{
        width: 100vw;
        height: auto;
        background-color: #ddd;
        padding: 10rem 0rem;
    }
    #food .head{
        width: 100vw;
        height: 7vh;
    
       display: flex;
        align-items: center;
        justify-content: center;
    }
    #food .head h1{
        font-family: 'Train One', cursive;
        padding-bottom: 5px;
        border-bottom: 3px solid #03a9f4;
    }
    #food .content{
        width: 100vw;
    }
    #food .content .card1{
        width: 75vw;
        height: auto;
        background-color: whitesmoke;
        box-shadow: 0 0.5rem 1rem rgb(110 108 108);
        margin: auto;
        display: flex;
        margin: 5rem auto;
    }
    .card-info, .card-img{
        width: 50%;
    }
    .card-img .image5{
        width: 100%;
        height: auto;
        object-fit: fill;
    }
    .card-info{
        color: #03a9f4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        text-align: center;
    }
    /*-----------------------------------------------------------------about us-----------------------------------------*/
    #abt{
        width: 100vw;
        height: 100vh;
    }
    #abt .head{
        width: 100vw;
        height: 10vh;
    
       display: flex;
        align-items: center;
        justify-content: center;
    }
    #abt .head h1{
        font-family: 'Train One', cursive;
        padding-bottom: 5px;
        border-bottom: 3px solid #03a9f4;
    }
    #abt .content{
        width: 100vw;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #abt .content .customer1{
        width: 25vw;
        height: 60vh;
        border: 2px solid rgb(0, 225, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        transition: .7s;
        cursor: pointer;
    }
   
    #abt .content .customer1 .cus1_img:hover{
        width: 200px;
        height: 200px;
    }
    #abt .content .customer2{
        width: 25vw;
        height: 60vh;
        border: 2px solid rgb(0, 225, 255);
        margin-right: 25px;
        margin-left: 25px;
    }
    #abt .content .customer3{
        width: 25vw;
        height: 60vh;
       
        border: 2px solid rgb(0, 225, 255);
    }
    #abt .content .customer1 .cus1_img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: relative;
        bottom: 25px;
        border: 5px solid white;
        transition: 0.6s;
        object-fit: cover;
    }
    #abt .content .customer1 .border{
        width: 24.7vw;
        height: 32.4vh;
        background-color: deepskyblue;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-top-left-radius: 250px;
        border-top-right-radius: 250px;
        
    }
    
    #abt .content .customer1 #quotes{
        font-size: 7rem;
        position: relative;
        top: 0px;
       color: deepskyblue;
        
    }
    #abt .content .customer1 p{
       position: relative;
       bottom: 50px;
        z-index: 2;
        font-size: 1.2rem;
        font-weight: bolder;
        text-align: center;
       
        
    }
    #abt .content .customer1 .border h1{
        color: white;
    }
